# .places is a list of point positions from saveplace package
.places

auto-save-list/

# backup files, set in my-defaults.el
backups/

# ido
cache/

elpa/
smex-items

# yasnippets
snippets/

.gitmodules
url/

srecode-map.el
